Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
gicr-midgard2.pc
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/.deps
src/*.c
src/*.o
src/.libs/
src/*~
src/*.gir
src/*.typelib
src/*.vapi
src/*.lo
src/gicr-midgard2.h
src/*.la
src/*.stamp
examples/*.c
examples/*.o
